/* ======================================================
*  General
*  =====================================================*/

.row {
	.clearfix;
}

.main {
	.clearfix;
	margin-top: 42px;
	padding: 20px;
}

.view-index {
	.main {
		margin-top: 72px;
	}
}
