/* ======================================================
*  Posts
*  =====================================================*/

.post-type-image,
.post-type-video,
.post-type-wikipedia,
.post-type-reddit,
.post-type-iframe,
.post-type-gif,
.post-type-album
{
	// display: none !important;
}

/* Base
---------------------------------------------- */
#posts {
	.clearfix;
}

.post {
	margin: 0 auto 20px;
	max-width: @post-max-width;
	width: 100%;

	.ui.card {
		margin: 0;
		.content {
			padding: 0;
		}
	}
}

/* Page Single
---------------------------------------------- */
.view-single {
	#post-single .post {
		overflow-y: scroll;
		padding: 1px;
	}

	.main {
		padding-bottom: 0;
	}
}

/* Isotope
---------------------------------------------- */
.post.isotope {
	margin-bottom: 15px;
	margin-left: 0;
	padding-left: 10px;
	padding-right: 10px;
	width: 300px;

	.post-heading {
		padding: 6px 8px;

		.header {
			padding-right: 0;

			.ui.label {
				display: inline-block;
				margin-bottom: 0;
			}
		}

		hr,
		.post-type,
		.post-domain,
		.meta {
			display: none;
		}
	}

	.ui.popup {
		border: 0;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		font-size: 12px;
		left: 0 !important;
		margin-top: 0;
		padding-left: 20px;
		width: 100% !important;
	}

	.post-footer {
		padding: 6px 8px;

		.button {
			padding: .6em;
		}
	}

	&.post-type-oembed {
		.post-content {
			padding: 0;
		}

		.post-oembed {
			box-shadow: none;
			border-radius: 0;
			padding: 0;

			> .row {
				margin-left: 0;
				margin-right: 0;
			}
		}

		.post-oembed-image {
			padding: 0;
			width: 100%;

			img {
				width: 100%;
			}
		}

		.post-oembed-excerpt {
			padding: 15px;
			width: 100%;

			.title {
				color: @gray;
			}
		}
	}
}

/* Post heading
---------------------------------------------- */
.post-heading {
	.clearfix;
	border-bottom: 1px solid @gray-lighter;
	padding: 6px 15px 0;
	position: relative;

	.header {
		padding-right: 20px;

		.ui.label {
			display: none;
		}
	}

	.post-type {
		position: absolute;
		right: 15px;
		top: 10px;
	}

	.post-subreddit {
		font-weight: bold;
		padding-left: 0;
		padding-right: 0;
	}

	.post-score {
		margin-right: 5px !important;
	}

	.meta {
		.clearfix;
		margin-top: 5px;

		a {
			color: @text-color-light;
			padding: 0;

			&:hover {
				color: @link-color-hover;
			}
		}
	}
}

.ui.card .meta {
	font-size: .85em;

	* {
		margin: 0;
	}
}

/* Post footer
---------------------------------------------- */
.post-footer {
	border-top: 1px solid @gray-lighter;
	padding: 5px;

	.ui.secondary.pointing.menu {
		border: 0;

		> .right.menu:first-child {
			display: block;
		}

		> .item,
		> .menu > .item {
			border: 0;
			color: @gray;

			&:hover {
				color: @gray-dark;
			}

			.active {
				border: 0;
			}
		}

		.right.menu {
			.item.dropdown .menu {
				border-radius: 0;
				border-top: 3px solid @gray-lighter;
				right: -6px;
				top: 29px;

				> .item {
					text-align: center;
				}
			}
		}

	}

}

/* Post content
---------------------------------------------- */
.post-content {
	background-color: #eee;
	padding: 0;
}

/* Post types
---------------------------------------------- */
.post-image {
	display: block;

	> img {
		.transition(opacity 250ms ease-in);
		display: block !important;
		margin: 0 auto;
		opacity: 0;
		height: auto;
	}
}

.post-type-reddit {
	.selftext {
		padding: 15px;

		&:empty {
			padding: 0;
		}
	}
}

.post-type-oembed {
	.post-content {
		padding: 15px;
	}
}

.post-oembed {
	color: rgba(0, 0, 0, 0.4);
	display: block;

	img {
		width: 100%;
	}

	&:hover {
		color: #009fda;
	}
}
