/* ======================================================
*  Buttons
*  =====================================================*/

button.ui.button {

	&.micro {
		border-radius: 0;
		font-size: 11px;
		padding: 0.2em 0.3em !important
	}

}
