/* ======================================================
*  Variables
*  =====================================================*/

/* Colors
---------------------------------------------- */
@primary-color: 	#3b83c0;

@link-color: 		#009FE0;
@link-color-hover: 	darken(#009FE0, 20%);

@gray-darker:		rgba(0, 0, 0, 1);
@gray-dark:			rgba(0, 0, 0, 0.8);
@gray:				rgba(0, 0, 0, 0.6);
@gray-light:		rgba(0, 0, 0, 0.4);
@gray-lighter:		rgba(0, 0, 0, 0.2);

@text-color: 		@gray;
@text-color-light: 	@gray-light;

/* Layout
---------------------------------------------- */
@post-max-width: 	750px;







